<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Operation</title>
       <!-- Style -->
   @* <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/MainCSS_gateway.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SLA_Management.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon"/>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>*@
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/MainCSS_gateway.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />

    <link href="~/lib/bootstrap-select.1.13.18/content/content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select.1.13.18/content/content/bootstrap-select.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-select.1.13.18/css/bootstrap-select.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SLA_Management.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-select.1.13.18/js/bootstrap-select.js"></script>
</head>
@{
    string selectHeader = "";
    string forcss_header = "";
    selectHeader = @ViewData["Title"].ToString();
    switch (selectHeader)
    {
        case "Home Page":
            forcss_header = "home";
            break;
        case "Cash Report":
            forcss_header = "report";
            break;
        case "Log File Monitor":
            forcss_header = "log";
            break;
        case "Problem Management":
            forcss_header = "monitor";
            break;
        default:
            break;
    }
}
<style>
    li:hover{
        border-radius: 0px 0px 30px 0px;
        background-color: rgba(30,30,30,0.14);
    }
    .navbar {
            padding-top: 0px;
            padding-bottom: 0px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 1rem;
            letter-spacing: 1px;
        background: rgb(238,168,73);
        background: linear-gradient(90deg, rgba(238,168,73,1) 0%, rgba(244,107,69,1) 100%);
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: rgba(244,107,69,1) 100%);
    }
    .nav-link{
            padding: 1rem 1rem;
    }

    .bg_home {
        background-image: url('/operation/images/Pic_Home.png');
        background-size: 100% 100%;
        background-position: top;
        background-repeat: no-repeat;
    }
    .bg_main{
    }
    .nav-item{
        width: auto;    
        text-align: center;
        padding: 0px 15px 0px 15px;
    }
    .nav-@forcss_header{
        border-radius: 0px 0px 30px 0px;
        background-color: rgba(30,30,30,0.14);
    }
    @@media (max-width: 1199px) {
        .footer-left {
            justify-content: center;
            padding: 0;
        }
        .footer-right{
            justify-content: center;
            padding: 0;
        }
        footer{
            line-height: 20px;
        }
    }
    @@media (min-width: 1200px) { 
        .footer-left {
            justify-content: flex-end;
            padding: 0px 40px 0px 0px;
        }
        .footer-right{
            justify-content: flex-start;
            padding: 0px 0px 0px 40px;
        }
        footer{
            line-height: 40px;
        }
    }
</style>
@{
    string urlBG = "";
    if (ViewData["Title"] == "Home Page")
    {
        urlBG = "bg_home";
    }
    else
    {
        urlBG = "bg_main";
    }
}

@*<img src="~/images/Pic_Home.png" alt="Logo" align="right" style="height:auto;width:100%;max-width:790px; display:none;">
<img src="~/images/Pic_Page.png" alt="Logo" align="right" style="height:auto;width:100%;max-width:790px; display:none;">*@
<body class="bg_main bg_home" style="background-image: url('/operation/images/Pic_Page.png');background-size:100% auto">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow mb-3">
            <div class="container-fluid">
                <div>
                     <img src="~/images/2.png" width="127" height="53" alt="Logo" align="left" style="padding-right:30px;" >
                </div>
                
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SLA Management</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-home">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Monitor
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="EJAddTranProbTerm" asp-action="EJAddTranProbTermAction">Problem Monitor</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="LastTransaction">Last Transaction Monitor</a>
                             
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="EJLogMonitor">EJLog Monitor</a>
                                
                               
                                @*<a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="CardRetain">Card Retain Monitor</a>*@
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="CardRetain2">Card Retain Monitor</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Operation" asp-action="TicketManagement">Ticket Monitor</a>
                              
                             
                               @* <a class="dropdown-item text-dark" asp-area="" asp-controller="Gateway" asp-action="Transaction">Gateway Transaction</a>*@
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Maintenance
                            </a>
                            <div class="dropdown-menu">
                               
                                    <a class="dropdown-item" asp-controller="Maintenance" asp-action="EJournalMenu">EJournal</a>
                                <a class="dropdown-item" asp-controller="Maintenance" asp-action="EJournalMenu_BK">EJournal(BackUp)</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="Transactions">Transactions</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="TransactionSummary">Transaction Summary</a>
                               

                            </div>
                        </li>
                       @*  <li class="nav-item dropdown nav-log">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Log File Uploading
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Comlog" asp-action="Index">InsertFileCOMLog</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Operation" asp-action="CheckEJLastUpdate">EJ Log</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Comlog" asp-action="Index">COM Log</a>
                            </div>
                        </li> *@
                        <li class="nav-item dropdown nav-report">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Report
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Operation" asp-action="Regulator">Cash Report</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Maintenance" asp-action="InventoryMonitorHistory">Inventory Report</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Report" asp-action="WhitelistReport">Whitelist Report</a>
                                 <a class="dropdown-item text-dark" asp-area="" asp-controller="AuditingReport" asp-action="AuditingReportAction">Auditing Report</a>
                                 <a class="dropdown-item text-dark" asp-area="" asp-controller="Report" asp-action="HardwareReport">Hardware Report</a>
                                 <a class="dropdown-item text-dark" asp-area="" asp-controller="Report" asp-action="BalancingReport">Balancing Report</a>
                               
                                
                                
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-report">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                SLA Management
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Management" asp-action="Holiday">Holiday</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Comlog" asp-action="Index">SLA Log Management</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Operation" asp-action="SlaReportDaily">SLA Report (Daily)</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Operation" asp-action="SlaReportMonthly">SLA Report (Monthly)</a>
                            
                            </div>
                        </li>

                        <li class="nav-item dropdown nav-report">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Management
                            </a>
                            <div class="dropdown-menu">
                                   
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Operation" asp-action="ServiceTracking">Service Tracking</a>
                               
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Maintenance" asp-action="WhitelistFilterTemplate">Whitelist Filter Template</a> 
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-report">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Information
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Maintenance" asp-action="InventoryMonitor">Inventory Information</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="EncryptionMoniter" asp-action="Index">Encryption Version</a>
                                 <a class="dropdown-item text-dark" asp-area="" asp-controller="Monitor" asp-action="DeviceFirmware">Device Firmware Version</a>
                            </div>
                        </li>
                 @*       <li class="nav-item dropdown nav-report">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Maintenance
                            </a>
                            <div class="dropdown-menu">

                            </div>
                        </li>   *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EJAddTranProbTerm" asp-action="EJAddTranProbTermAction">DeviceTermProb</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comlog" asp-action="Index">Comlog Manage</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>  
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:orange;">
        <div class="container-fluid">
        <div class="row fs-6" style="color:whitesmoke;">
            <div class="col-12 col-xl-4">
                <div class="row">
                        
                    <div class="footer-left" style="margin: 0px;display: flex;height: 2vh;">1023 MS Siam Tower, 30th Floor, Rama 3 Rd,</div>
                </div>
                <div class="row">
                    <div class="footer-left" style="margin: 0px;display: flex;">Chongnonsi, Yannawa, Bangkok, 10120 Thailand</div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                      <div class="footer-center" style="padding: 0px 0px 0px 0px;margin: 0px;display: flex;justify-content: center;height: 2vh;">Copyright© 2023 - Dataone Asia Co., Ltd</div>
                </div>
                <div class="row">
                      <div class="footer-center"  style="padding: 0px 0px 0px 0px;margin: 0px;display: flex;justify-content: center;height: 2vh;">Government Savings Bank</div>
                </div>
                <div class="row">
                      <div class="footer-center"  style="padding: 0px 0px 0px 0px;margin: 0px;display: flex;justify-content: center;">Version 0.2.0</div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="footer-right" style="margin: 0px;display: flex;height: 2vh;">Tel: +66 2686 3000</div>
                </div>
                <div class="row">
                    <div class="footer-right" style="margin: 0px;display: flex;">Fax: +66 2682 6322, +66 2686 6468</div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <script>
        if("@ViewData["Title"]"==="Home Page"){
            document.addEventListener('DOMContentLoaded', function () {
                // Get the element with the class 'example-class'
                const element = document.querySelector('.bg_main');
                if (element) {
                    element.style.removeProperty('background-image');
                    element.style.removeProperty('background-size');
                }
            });
        }
        
    </script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
