@font-face {
    font-family: Kanit-Regular;
    src: url('../fonts/Kanit/Kanit-Regular.ttf');
}

@font-face {
    font-family: Kanit-Bold;
    src: url('../fonts/Kanit/Kanit-Bold.ttf');
}

@font-face {
    font-family: Kanit-Medium;
    src: url('../fonts/Kanit/Kanit-Medium.ttf');
}

body {
    font-family: Kanit-Regular !important;
/*    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    background-color : dimgray;
    font-weight: 300;
}

p {
  color: #000;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Kanit-Regular !important;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px;
  color: #fff; }

.custom-table {
  min-width: 900px; }
    .custom-table thead tr, .custom-table thead th {
        padding: 15px;
        border-top: none;
        border-bottom: none !important;
        color: #000;
        background-color: orange;
        font-size: 1vw;
        /*text-transform: uppercase;*/
        border-color: antiquewhite;
        border: 3px solid lightgray;
    }
    .custom-table tbody th, .custom-table tbody td {
        color: black;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: 300;
        border: none;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        border-color: antiquewhite;
        border: 1px inset;
    }
        .custom-table tbody th small, .custom-table tbody td small {
            color: rgba(255, 255, 255, 0.8);
            font-weight: 400;
        }
    .custom-table tbody th a, .custom-table tbody td a {
        color: rgba(255, 255, 255, 0.8);
      
    }
    .custom-table tbody th .more, .custom-table tbody td .more {
        color: rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
  .custom-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
        color: blueviolet;
           }
        .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
            color: #756708;
        }
        .custom-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
            color: #756708;
        }
  .custom-table .td-box-wrap {
    padding: 0; }
  .custom-table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px; }
    .custom-table .box td, .custom-table .box th {
      border: none !important; }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255,255,255,0.4);
    }
    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(255,255,255,0.6);
    }   